@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: dark;
}

html,body{
  height:100%;
}

body{
  font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, "Apple Color Emoji", "Segoe UI Emoji";
  @apply bg-zinc-950 text-zinc-100;
  overflow-x:hidden;
}

.mono{
  font-family: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

::selection{
  background: rgba(255, 0, 170, .35);
}

a{
  @apply underline-offset-4;
}
